.container.jumbotron

  %p
    %strong
      Address:
    = @address.address

  %p
    %strong
      Latitude:
    =@address.latitude

  %p
    %strong
      Longitude:
    = @address.longitude




  .img-responsive
    = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@address.latitude}%2C#{@address.longitude}"

  %b
    Nearby Addresses
  %table.table
    -@address.nearbys(15, units: :km).each do |near|
      %tr
        %td=link_to near.address, address_path(near)
        %td="#{@address.distance_to(near, :km).round(1)} km"

= link_to 'Edit', edit_address_path(@address)
|
= link_to 'Destroy', @address, method: :delete, data: { confirm: 'Are you sure?' }
